<main class="main">
    <form action="/operacao/salvar" method="POST" class="card login-form">
        <div class="input-group">
            <label for="inputData" class="form-label">Data</label>
            <input type="date" name="data" id="inputData" required class="form-input">
        </div>
        <div class="input-group">
            <label for="inputTipo" class="form-label">Código do ativo</label>
            <select name="ativo" id="inputAtivo" class="form-input">
                <% for (let ativo of ativosValidos) { %>
                    <option value="<%= ativo %>">
                        <%= ativo %>
                    </option>
                    <% } %>
            </select>
        </div>
        <div class="input-group">
            <label class="form-label" for="inputTipo">Tipo de operação:</label>
            <div class="single-line-input">
                <% for (let tipo of tiposValidos) { %>
                    <div class="input-radio-group">
                        <label class="label-input-tipo" for="inputTipo<%= tipo %>">
                            <%= tipo %>
                                <input type="radio" name="tipoDeOperacao" id="inputTipo<%= tipo %>" value="<%= tipo %>"
                                    checked>
                        </label>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="input-group">
            <label class="form-label" for="inputQuantidade">Quantidade</label>
            <input class="form-input" type="number" name="quantidade" id="inputQuantidade" required min="1" step="1">
        </div>
        <div class="input-group">
            <label class="form-label" for="inputPreco">Preço unitário</label>
            <input class="form-input" type="number" name="preco" id="inputPreco" required min="0.01" step="0.01">
        </div>
        <div>
            <input type="submit" class="form-button button expanded" value="Registrar operação">
        </div>
    </form>
</main>